
.mystic-table {
    border-radius: 5px;
    /*font-size: 12px;*/
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    /*white-space: pre-wrap;*/
    background-color: white;
    border: 1px solid #e8e8e8;
}
.mystic-table th {border: 1px solid #e8e8e8;
}
.mystic-table td, .mystic-table th {
    text-align: center;
    padding: 8px;
}
.mystic-table td {
    border: 1px solid #e8e8e8;
    /*font-size: 12px;*/
}
.mystic-table thead th {
    color: #ffffff;
    background: #4FC3A1;
    border: 1px solid #e8e8e8;
}

.mystic-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.mystic-table tr:nth-child(even) {
    background: #F8F8F8;
}